.fusion-header {
  height: 84px;
  backface-visibility: hidden;
  background: rgb(3, 45, 92) none;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border: 0 none rgb(63, 63, 63);
  box-shadow: rgba(0, 0, 0, 0.118) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgb(63, 63, 63);
  font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-optical-sizing: auto;
  font-size: 15px;
  font-size-adjust: none;
  font-stretch: 100%;
  font-style: normal;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
  font-weight: 300;
  line-height: 22.5px;
  max-width: 100%;
  overflow: visible;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  transform: none;
  z-index: 210;
  transition: height 0.3s ease;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  text-align: center;

  .fusion-row {
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    margin: 0 140px;
    padding: 0;
    position: relative;
    display: inline-block;
    max-width: 1100px;

    .fusion-mobile-menu-icons {
      display: none;
    }

    .fusion-logo {
      box-sizing: border-box;
      color: rgb(63, 63, 63);
      display: block;
      float: left;
      margin: 10px 0;
      max-width: 100%;

      .fusion-logo-link {
        box-sizing: border-box;
        color: rgb(3, 45, 92);
        display: block;
        max-width: 100%;
        text-decoration: none;
        text-decoration-color: rgb(3, 45, 92);
        text-decoration-style: solid;
        transition-duration: 0.2s;
        transition-property: color, background-color, border-color;
        transition-timing-function: linear;

        .fusion-mobile-logo-2x {
          display: none;
        }
      }
    }

    .fusion-main-menu {
      box-sizing: border-box;
      color: rgb(63, 63, 63);
      display: block;
      float: right;
      overflow: hidden;
      position: relative;
      z-index: 200;
      margin-left: 90px;

      ul {
        box-sizing: border-box;
        color: rgb(63, 63, 63);
        list-style: none outside none;
        margin: 0;
        padding: 0;

        li {
          box-sizing: border-box;
          color: rgb(63, 63, 63);
          cursor: pointer;
          float: left;
          list-style: none outside none;
          margin: 0;
          overflow: hidden;
          padding: 0 40px 0 0;
          position: relative;

          a {
            border-top: 3px solid rgba(0, 0, 0, 0);
            box-sizing: border-box;
            color: rgb(255, 255, 255);
            cursor: pointer;
            display: block;
            font-weight: 600;
            height: 84px;
            line-height: 81px;
            list-style: none outside none;
            text-decoration: none;
            text-decoration-color: rgb(255, 255, 255);
            text-decoration-style: solid;
            transition-duration: 0.2s;
            transition-property: color, background-color, border-color;
            transition-timing-function: linear;
          }

          a:hover {
            border-color: #fda929 !important;
            color: #fda929 !important;
          }
        }

        li.current_page_item {
          a {
            border-color: #fda929 !important;
            color: #fda929 !important;
          }
        }

        .fusion-last-menu-item {
          a {
            span {
              background-clip: border-box;
              background-origin: padding-box;
              background-position-x: 0;
              background-position-y: 0;
              background: rgba(255, 152, 0, 0.6) linear-gradient(to top, rgba(255, 193, 7, 0.6), rgba(255, 152, 0, 0.6)) repeat scroll 0 0;
              background-size: auto auto;
              border-radius: 2px;
              border: 0 solid rgb(255, 255, 255);
              box-sizing: border-box;
              color: rgb(255, 255, 255);
              cursor: pointer;
              display: inline-block;
              line-height: 17px;
              list-style: none outside none;
              outline: rgb(255, 255, 255) none 0;
              padding: 13px 29px;
              position: relative;
              text-align: center;
              text-decoration: none;
              text-decoration-color: rgb(255, 255, 255);
              text-decoration-style: solid;
              text-transform: uppercase;
            }
          }

          a:hover {
            border-color: transparent !important;

            span {
              background-image: -webkit-gradient(linear, left bottom, left top, from(#ffc107), to(#ff9800));
              background-image: linear-gradient(to top, #ffc107, #ff9800);
            }
          }
        }
      }
    }
  }

  img.fusion-sticky-logo-2x {
    display: none;
  }

  img.fusion-standard-logo {
  }
}

@media (min-width: 1361px) and (max-width: 1391px) {
  .fusion-header-wrapper {
    .fusion-header {
      .fusion-row {
        .fusion-main-menu {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (min-width: 1391px) and (max-width: 1421px) {
  .fusion-header-wrapper {
    .fusion-header {
      .fusion-row {
        .fusion-main-menu {
          margin-left: 60px;
        }
      }
    }
  }
}

@media (min-width: 890px) and (max-width: 1360px) {
  .fusion-header-wrapper {
    .fusion-header {
      .fusion-row {
        .fusion-main-menu {
          margin-left: 0;
        }
      }
    }
  }

  .fusion-header {
    .fusion-row {
      display: block;
      max-width: unset;
    }
  }

  .fusion-header.fusion-sticky-shadow {
    height: 65px;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;

    .fusion-row {
      box-sizing: border-box;
      color: rgb(63, 63, 63);
      margin: 0 140px;
      padding: 0;
      position: relative;

      .fusion-logo {
        box-sizing: border-box;
        color: rgb(63, 63, 63);
        display: block;
        float: left;
        margin: 5.5px 0;
        max-width: 100%;

        img {
          height: 54px;
          border-left-style: none;
          border-right-style: none;
          border-top-style: none;
          box-sizing: border-box;
          color: rgb(3, 45, 92);
          display: inline-block;
          max-width: 100%;
          vertical-align: top;
          width: 224px;
        }

        img.fusion-standard-logo {
          display: none;
        }

        img.fusion-sticky-logo-2x {
          display: inline-block !important;
        }
      }

      .fusion-main-menu {
        box-sizing: border-box;
        color: rgb(63, 63, 63);
        display: block;
        float: right;
        overflow: hidden;
        position: relative;
        z-index: 200;

        .fusion-menu {
          box-sizing: border-box;
          color: rgb(63, 63, 63);
          list-style: none outside none;
          margin: 0;
          padding: 0;

          .menu-item {
            box-sizing: border-box;
            color: rgb(63, 63, 63);
            cursor: pointer;
            float: left;
            list-style: none outside none;
            margin: 0;
            overflow: hidden;
            padding: 0 35px 0 0;
            position: relative;

            a {
              line-height: 62px;
              height: 65px;
              border-top: 3px solid rgba(0, 0, 0, 0);
              box-sizing: border-box;
              color: rgb(255, 255, 255);
              cursor: pointer;
              display: block;
              font-weight: 600;
              list-style: none outside none;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1170px) and (max-width: 1360px) {
  .fusion-header-wrapper {
    transition: height 0.3s ease;

    .fusion-header {
      .fusion-row {
        margin: 0 30px;
      }

      .fusion-main-menu {
        ul {
          li {
            padding: 0 36px 0 0 !important;
          }
        }
      }
    }
  }
}


@media (min-width: 1060px) and (max-width: 1169px) {
  .fusion-header-wrapper {
    transition: height 0.3s ease;

    .fusion-header {
      .fusion-row {
        margin: 0 30px;
      }

      .fusion-main-menu {
        ul {
          li {
            padding: 0 25px 0 0 !important;
          }
        }
      }
    }
  }
}


@media (min-width: 966px) and (max-width: 1059px) {
  .fusion-header-wrapper {

    transition: height 0.3s ease;

    .fusion-header {
      .fusion-row {
        margin: 0 30px;
      }

      .fusion-main-menu {
        ul {
          li {
            padding: 0 15px 0 0 !important;
          }
        }
      }
    }
  }
}


@media (min-width: 890px) and (max-width: 965px) {
  .fusion-header-wrapper {

    transition: height 0.3s ease;

    .fusion-header {
      .fusion-row {
        margin: 0 30px;
        .fusion-main-menu {
          margin-left: 0;

          ul {
            li {
              padding: 0 5px 0 0 !important;
            }

            li.fusion-last-menu-item {
              padding: 0 !important;
            }
          }
        }
      }
    }
  }

  .fusion-header.fusion-sticky-shadow {
    .fusion-row {
      .fusion-main-menu {
        ul {
          li {
            padding-right: 5px !important;
          }

          li.fusion-last-menu-item{
            padding-right: 0 !important;
          }
        }
      }
    }
  }
}


@media (max-width: 889px) {
  .fusion-header {
    .fusion-row {
      display: block !important;
      max-width: unset;
    }
  }

  main {
    margin-top: auto;
  }

  .fusion-header-wrapper {
    transition: height 0.3s ease;

    .fusion-header {
      display: block;
      padding: 20px 30px;
      height: 94px;

      .fusion-header {
        height: 94px;
      }

      .fusion-row {
        margin: 0;

        .fusion-logo {
          margin: 0;

          a {
            .fusion-logo-2x {
              display: none;
            }

            img.fusion-sticky-logo-2x {
              display: none !important;
            }
          }
        }


        .fusion-logo-2x.fusion-mobile-logo-2x {
          display: inline-block !important;
          width: auto;
        }

        .fusion-main-menu {
          display: none;
        }

        .fusion-mobile-menu-icons {
          display: block;
          box-sizing: border-box;
          color: rgb(63, 63, 63);
          margin-top: 0;
          position: relative;
          right: 0;
          text-align: right;
          top: 0;
          vertical-align: middle;

          a {
            color: white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

nav.header-nav {
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
}
